/* AUTHOR: David J. Brown
          August 2023    */

/* COLOR PALETTE */
/* EEF2EA - Cream White
#F4F5F2 - Lighter Cream
#EF3D69 - Bright Red
#929396 - Grey
#A24254 - Faint Red
#2A3041 - Dark Blue */

/* FONTS USED */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Lily Script One', cursive; */


/* Styling for Signup Sheet Form */
/* *CITATION* Used Form Layout As A Guide - Detailed By w3Schools.com */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: .5em;
    margin-bottom: .5em;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: .5em;
    margin-bottom: .5em;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #2A3041;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: .5em;
    transition: all 1000ms ease;
  }
  
  input[type=submit]:hover {
    background-color: #A24254;  
  }
  
  .signup {
    max-width: 100%;
    border-radius: 5px;
    padding: 1.5em;
    background-color: #EEF2EA;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  }

  .small-print {
    font-size: .5em;
  }

