/* Blog Post Sub-Nav Menu */
.sub-nav {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    gap: 1em;
}

.sub-nav a {
    color: black;
    border-radius: 5px;
    background-color: #FFFAFA;
    text-decoration: none;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    padding: .5em;
}

.sub-nav a:hover {
    color: white;
    transition-duration: 1000ms;
}

.sub-nav a:visited {
    color: black;
}

.sub-nav a:active {
    color: white;
    background-color: #A24254;;
}
