/* COLOR PALETTE */
/* EEF2EA - Cream White
#F4F5F2 - Lighter Cream
#EF3D69 - Bright Red
#929396 - Grey
#A24254 - Faint Red
#2A3041 - Dark Blue */

/* FONTS USED */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Lily Script One', cursive; */


/* Styling for Signup Sheet Form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #2A3041;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #A24254;
  }
  
  